@import '../../style.scss';
.centerbar{
    @include themify($themes){
   
    // flex: 2;
    flex: unset;
    width: unset;
    width: 800px;
    overflow: hidden;
    background-color: themed('bgSoft');
    @include xs{
        width: 350px;
    }
    @include xs{
        width: 500px;
    }
  
    .container{
        width: 100%; 
        overflow-y: scroll;
    }
}
}